body {
    padding: 0;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .pdf-viewer {
    width: 80%;
    margin-left: 60px;
    margin-top: 60px;
  }
  
  .viewer {
    width: 100%;
    height: 800px;
  }
  
  .download-button {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  